
.hero {
    width: 100%;
    /* height: calc(100vh - 59px); */
    height: 100vh;
    margin: auto;
    background-image: url(https://source.unsplash.com/a4S6KUuLeoM);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 80%;
    background-color: rgb(242, 250, 250);
}

.overlay {
    width: 100%;
    /* height: calc(100vh - 59px); */
    height: 100vh;
    margin: auto;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    color: rgb(242, 250, 250);
}

.hero-text {
    padding: 100px;
    font-family: 'Poppins', sans-serif;

}

.hero-text h2{
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
}
.hero-text h3 {
    font-size: 2rem;
    font-weight: 500;
}
.hero-text p {
    margin-top: 1.5rem;
}
.hero-text button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: orangered;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    cursor: pointer;
}